@import url( 'vazir-family.css' );

body {
    font: 16px/1.618 'Vazir', sans-serif !important;
    text-rendering: optimizeLegibility;
}
p {
    margin-bottom: .487rem !important;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .652rem !important;
}