@import url( 'vazir-family.css' );

body.rtl, body.rtl h1, body.rtl h2, body.rtl h3, body.rtl h4, body.rtl h5, body.rtl h6 {
    font-family: 'Vazir' !important;
    line-height: 1.618 !important;
    text-rendering: optimizeLegibility;
}
body.rtl {
    font-size: 16px;
}