/**
 * Vazir Font Family
 * License credits are included in ../fonts/LICENSE
 */
@font-face {
    font-family: 'Vazir';
    font-weight: normal;
    src: url( '../fonts/Vazir.woff2' ) format( 'woff2' );
}
@font-face {
    font-family: 'Vazir';
    font-weight: bold;
    src: url( '../fonts/Vazir-Bold.woff2' ) format( 'woff2' );
}